{% extends 'base.html' %}
{% block content %}

<div class="row">
	<div class="d-flex justify-content-center col-md-12">
		<div class="card mt-4 border-info w-50 text-center">
			<div class="card-header bg-custom">Events</div>
			<div class="card-body">
				<button type="button" id='btn' class="btn btn-warning mb-2">Create Event</button>
				<div id="createEvent">
					<form action="{{ url_for('create_event') }}" method="POST">
						{{ form.hidden_tag() }}
						<div class="form-group mb-3">
							{{ form.event.label(class="form-control-label") }}
							{{ form.event(class="form-control") }}
						</div>
						<div class="form-group mb-3">
							{{ form.day.label(class="form-control-label") }}
							{{ form.day(class="form-control") }}
						</div>
						{{ form.submit(class="btn btn-outline-primary") }}
					</form>
				</div>
			</div>
		</div>
	</div>



{% endblock %}
