{% extends "base.html" %}
{% block content %}
<div class="home_main">
  <div class="home_welcome">
    <div class="home_content">
      <h1 class="display-4">Welcome to StudyHub</h1>
      {% if not current_user.is_authenticated %}
      <div class="menu" onclick="this.classList.toggle('open')">
        <div class="button" onclick="location.href='/';"></div>
        <div class="button" onclick="location.href='/login';"></div>
        <div class="button" onclick="location.href='/signup';"></div>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock %}