{% extends 'base.html' %} {% block content %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<div class="tomato">
    <div style="margin-top: 25px;" class="ui container">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="pomorodo-tab" data-bs-toggle="tab" data-bs-target="#pomorodo" type="button" role="tab" aria-controls="pomorodo" aria-selected="true">Pomorodo</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="break-tab" data-bs-toggle="tab" data-bs-target="#break" type="button" role="tab" aria-controls="break" aria-selected="false">BreakTimer</button>
            </li>

        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="pomorodo" role="tabpanel" aria-labelledby="pomorodo-tab">
                <h3>Pomodoro Timer!</h3>

                <div>
                    <div>
                        <span class="l1-txt2 p-b-9 minutes">5</span>
                        <span class="s1-txt1 where1 p-l-35">Minutes</span>
                    </div>

                    <div>
                        <span class="l1-txt2 p-b-9 seconds">00</span>
                        <span class="s1-txt1 where1 p-l-35">Seconds</span>
                    </div>
                </div>
                <div>
                    <a href="#" class="size2 m1-txt1 flex-c-m how-btn1 trans-04 start-stop" onclick="timerFlag == 0? start(): stop();">
            Start
          </a>
                </div>
                <div>
                    <a href="#" class="size2 m1-txt1 flex-c-m how-btn1 trans-04 pause" onclick="pauseFlag == 1?resume(): pause();">
            Pause
          </a>
                </div>
            </div>
            <div class="tab-pane fade" id="break" role="tabpanel" aria-labelledby="break-tab">
                <h3>Break Timer!</h3>

                <div>
                    <div>
                        <span class="l1-txt2 p-b-9 minutes">5</span>
                        <span class="s1-txt1 where1 p-l-35">Minutes</span>
                    </div>

                    <div>
                        <span class="l1-txt2 p-b-9 seconds">00</span>
                        <span class="s1-txt1 where1 p-l-35">Seconds</span>
                    </div>
                </div>
                <div>
                    <a href="#" class="size2 m1-txt1 flex-c-m how-btn1 trans-04 startbreak-stopbreak" onclick="timerFlag == 0? startbreak(): stopbreak();">
            Start
          </a>
                </div>
                <div>
                    <a href="#" class="size2 m1-txt1 flex-c-m how-btn1 trans-04 pausebreak" onclick="pauseFlag == 1?resumebreak(): pausebreak();">
            Pause
          </a>
                </div>
            </div>
            <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">...</div>
        </div>

    </div>
</div>

<script src="{{ url_for('static', filename='vendor/jquery/jquery-3.2.1.min.js') }}"></script>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<script>
    $(".pause-area").hide();
    var minutes = 25;
    var seconds = 0;
    var timerFlag = 0;
    var pauseFlag = 0
</script>

<script>
    $(".pausebreak-area").hide();
    var minutes = 5;
    var seconds = 0;
    var timerFlag = 0;
    var pauseFlag = 0
</script>

<script src="{{ url_for('static', filename='js/pomorodo.js') }}"></script>
<script src="{{ url_for('static', filename='js/break.js') }}"></script>

{% endblock %}